# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore test reports
allure-results/
allure-report/

# Ignore logs
*.log

# Ignore version control directories
.git/
.gitignore

# Ignore temporary files
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db
